[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Joshua Morgan
	email = joshua.morgan@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/gitignore
